<%- include("./partials/head.ejs")   %>
<body class="container">
    <%- include("./partials/header.ejs")   %>
    <h1>Welcome to <%= title %></h1>
    <p><%= subtitle %></p>
  </body>
  <%- include("./partials/scriptBtps.ejs")   %>
</html>
