<%- include("./partials/head.ejs")   %>
<body class="container">
    <% if(page === "usuario creado"){ %>
        <%- include("./partials/header.ejs")   %>
    <% } %> 
    <% if(page === "actualizacion-productos"){ %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/users/panel"> panel </a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link"  href="/cart" id="irCarrito">Ver tus productos</a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/users/logOut">Cerrar secion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <% } %> 
    <h1><%= message %></h1>

    <a class="nav-link"  href="<%= redirect %>">volver</a>
<script>
</script>
<%- include("./partials/scriptBtps.ejs")   %>
</body>