<%- include("./partials/head.ejs")   %>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item m-2">
                        <a class="nav-link" href="/product"> Tienda </a>
                    </li>
                    
                    <% if(role === "admin"){ %>
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/product/createProduct">  cargar Producto </a>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link" href="/product/updateProduct">  modificar Productos </a>
                        </li>
                    <% } %> 
                    <li class="nav-item m-2">
                        <a class="nav-link" href="/users/logOut">Cerrar secion</a>
                    </li>
                    <li class="nav-item m-2">
                        <a href="http://localhost:<%= port %>/chat.html"><span id="chatButton" class="btn btn-primary">Chatea!</span></a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>

    <h1><%= message %></h1>

    <div class="container bootstrap snippets bootdey">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src=<% if(user.avatar.length > 0){ %> "../images/<%= user.avatar%>"<% }else{ %> "https://bootdey.com/img/Content/avatar/avatar7.png" <% } %> data-original-title="Usuario">
                </div>
                <div class="col-md-6">
                    <strong>Information</strong><br>
                    <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Identificacion                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user._id %>    
                                </td>
                            </tr>
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>    
                                        Name                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.name %>     
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Lastname                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.lastName %>  
                                </td>
                            </tr>     
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                        Role                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.role %>
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                        Email                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.email %> 
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        created                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.createdAt %>
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Modified                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    <%= user.updatedAt %>
                                </td>
                            </tr>                                    
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        </div> 

    <%- include("./partials/scriptBtps.ejs")   %>
</body>